# // for containers => service name as hostname
version: "3"
services:
  node-app:
    container_name: node-app
    depends_on:
      - mongo-db
    build:
      context: .
      target: development # pass for multi stage build
    volumes:
      # FOR HOT RELOAD IN DOCKER
      - .:/app:ro
      - ./node_modules:/app/node_modules
    ports:
      - "3001:3001"
    environment:
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - .env
    command: npm run dev

  mongo-db:
    container_name: mongo-db
    image: mongo:6.0
    
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    restart: always
    ports:
      - "27017:27017"
    env_file:
      - .env
