
# // for containers => service name as hostname
version: '3'
services:
  node-app:
    container_name: node-app
    build:
      context: .
      target: development # pass for multi stage build
    volumes:
    # FOR HOT RELOAD IN DOCKER
      - .:/app:ro
      - ./node_modules:/app/node_modules
    ports:
      - '3001:3001'
    environment:
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - .env
    command: npm run dev
